<div class='locker_image'>
<div class="header">
    <p class="kicker">{{ kicker }}</p>
    <h1 class="headline">{{ headline }}</h1>
    <h2 class="subhead">Hispanic and Black homeless students continue to fall behind their peers in New York City.</h2>
    <p class="byline">
        {{#if author.url }}
            <a href="{{ author.url }}">{{ author.name }}</a>
        {{else}}
            {{ author.name }}
        {{/if}}
    </p>
    <p class="date">December 18, 2019</p>
</div>
</div>
